PORT=3000

# 模型密钥和代理地址
OPENAI_API_KEY=sk-xxxxxxx
OPENAI_BASE_URL=https://api.siliconflow.cn/v1
OPENAI_MODEL_NAME=deepseek-ai/DeepSeek-V3 # 指定模型名称


# Database Configuration
MONGODB_URI=mongodb://localhost:27017/brand_flow
REDIS_HOST=localhost
REDIS_PORT=6379


MINIO_ROOT_USER=brandflow_admin
MINIO_ROOT_PASSWORD=至少32位强密码
MINIO_BUCKET=brand-flow-assets
MINIO_SERVER_URL=https://storage.your-domain.com
MINIO_BROWSER_REDIRECT_URL=https://storage-console.your-domain.com